<footer>
    <div class="container">
        <div class="nav d-flex jc-sb ai-c">
            <ul class="link d-flex">
                <li><a href="index.html">首頁</a></li>
                <li><a href="#">系列鏡框</a></li>
                <li><a href="stores.html">門市據點</a></li>
                <li><a href="#">部落格</a></li>
                <li><a href="#">常見問題</a></li>
            </ul>
            <ul class="icons d-flex">
                <li>
                    <a href="#">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true" alt="Facebook">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true" alt="Instagram">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt="Line">
                    </a>
                </li>
            </ul>
        </div>

        <div class="telAndEmail">
            <div class="tel d-flex ai-c">
                <span class="material-symbols-outlined">call</span>
                <p>0800-000-000</p>
            </div>
            <div class="mail d-flex ai-c">
                <span class="material-symbols-outlined">mail</span>
                <p>glasses@business.com</p>
            </div>
        </div>

        <div class="policy d-flex jc-sb">
            <p>Copyright © 2020 Glasses.All rights reserved.</p>
            <ul class="d-flex">
                <li><a href="#">隱私權政策</a></li>
                <li><a href="#">服務條款</a></li>
            </ul>
        </div>
    </div>
</footer>