/* display */
.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.fd-colum {
    flex-direction: column;
}

.jc-sb {
    justify-content: space-between;
}

.jc-c {
    justify-content: center;
}

.ai-end {
    align-items: end;
}

.ai-c {
    align-items: center;
}