.headerNav{
  background: $primary;
  font-size: 64px;

  h1 a{
    background-image: url(../images/logo.png);
    width: 80px;
    height: 48.57px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    margin: 16px 0;
  }

  li {
    margin-left: 30px;
  }
  
  a {
    display: block;
    color: $secondary;
    font-size: 20px;
  }
}

// phone 手機
@media(max-width:767px){
  .headerNav {
    .container {
      padding: 0;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      h1 {
        padding: 0 12px;
      }
    }
    ul {
      width: 100%;
      flex-wrap: wrap;
      font-style: 16px;
      text-align: center;
    }
    li {
      margin-left: 0;
      width: 50%;
      border: 1px solid $secondary;
    }
    a {
      padding: 12px 0;
    }
  }
  
}