.index {
  h3, h4 {
    text-align: center;
  }
  
  a {
    color: $primary;
  }
}

.banner {
  position: relative;

  .container {
    position: absolute;
    max-width: 1290px;
    top: 50%;
    transform: translate(0, -50%);
    right: 0px;
    left: 0px;
    margin: auto;
    text-align: right;
  }

  p {
    font-size: 36px;
  }

  .button {
    display: inline-block;
    padding: 6px 12px;
    margin-top: 4px;
    background-color: $primary;
  }

  a {
    display: block;
    color: $secondary;
    font-size: 20px;
    font-weight: 500;
  }
}

.intro {
  background-color: $bg-color;

  .container {
    padding: 80px 0;
  }

  .icon {
    width: 83.33px;
    height: 83.33px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24.08px;
  }

  h3{
    margin-bottom: 32.33px;
  }

  p {
    margin-top: 8px;
    color: black;
  }

  .box {
    width: 23.6%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.classical-glasses {
  padding: 80px 0;

  h3,a {
    margin-bottom: 48px;
  }

  a {
    display: block;
  }

  .card {
    width: 32%;
    img {
      margin-bottom: 8px;
    }
  }
}

.co-branded {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);

  padding: 80px 0;

  .title {
    color: $secondary;
    margin-bottom: 48px;
  }

  a h3 {
    background-color: $secondary;
  }
}

.customer-recommends {
  padding: 80px 0;
  
  h3 {
    margin-bottom: 48px;
  }
  
  .card {
    color: black;
    width: 23.6%;
    height: 511px;
    box-shadow: 0px 2px 6px #00000029;
  }

  .text-area {
    padding: 16px;
    height: 205px;
  }

  .name {
    font-weight: 500;
    margin-bottom: 8px;
  }

  span {
    color: #707070;
  }
}

.contact {
  background-color: $bg-color;
  padding: 80px 0;
  .form-box {
    width: 49%;
    margin: 0 auto;
  }

  h3 {
    margin-bottom: 48px;
  }

  p {
    margin-bottom: 24px;
    color: black;
    font-size: 20px;
  }

  label {
    display: block;
    color: black;
    margin-bottom: 8px;
  }

  input, textarea {
    margin-bottom: 16px;
    padding: 6px 12px;
    border: 1px solid #000000;
    background-color: rgba($color: #000000, $alpha: 0);
  }
  /* 下面的css使input的寬度不會超過div */
  form > input[type=text],input[type=email],input[type=tel] {
    width:100%;
    box-sizing:border-box; /* 使元素的寬度包括padding margin, border*/
    -moz-box-sizing:border-box;
  }
  textarea {
    display: block;
    resize : none;
    width: 100%;
    height: 136px;
  }
  .checkbox {
    vertical-align：middle
    input, label{
      display: inline-block;
      cursor: pointer;
    }
    input {
      margin-right: 4px;
    }
  }

  input[type=submit] {
    display: block;
    margin-top: 48px;
    padding: 16px 176px;
    border: none;
    background-color: $primary;
    color: $secondary;
    font-weight: bold;
    cursor: pointer;
  }
}