.stores {
    padding-top: 96px;
    padding-bottom: calc(80px - 48px);

    h3 {
        padding-left: 16px;
        margin-bottom: 33px;
        border-left: 8px solid $primary;
    }
    
    .select-box {
        margin-bottom: 40px;
        span {
            // display: block;
            margin-right: 16px;
            font-size: 24px;
            color: black;
        }

        select {
            -webkit-appearance: none;
            appearance: none;
            display: block;
            width: 304px;
            height: 38px;
            padding: 6px 12px;
            border: 1px solid #CED4DA;
            font-size: 18px;
            line-height: 26px;
            color: #495057;
        }
        .select-wrapper {
            position: relative;
        }
        
        .select-wrapper::after {
        content: "▾";
        font-size: 1rem;
        color: black;
        top: 6px;
        right: 19px;
        position: absolute;
        }
    }
    
    .card {
        margin-bottom: 48px;
        width: 32%;
        color: #212529;

        h4 {
            padding: 8px 24px;
            border: 1px solid #00000020;
            font-weight: 400;
        }
    }

    .info-box {
        padding: 16px 26px;
        border: 1px solid #00000020;
    }

    .info {
        span {
            margin-right: 11px;
            font-size: 18px;
        }
    }

    a {
        display: block;
        padding: 16px 0;
        text-align: center;
        background-color: black;
        font-size: 19px;
        color: $secondary;
    }

    .mb-8 {
        margin-bottom: 8px;
    }
    .mr-24 {
        margin-right: 24px;
    }
}

// tablet 平板
@media(max-width:992px){
    .stores {
        padding-top: 80px;
        padding-bottom: calc(80px - 24px);

        .card {
            width: 48%;
            margin-bottom: 24px;
        }
        .null {
            display: none;
        }
    }
}

// phone 手機
@media(max-width:767px){
    .stores {
        padding-top: 40px;
        padding-bottom: calc(64px - 24px);

        .select-box {
            span {
                font-size: 16px;
                margin-right: 8px;
            }
            .select-wrapper {
                width: calc(100% - 72px);
            }
            select {
                width: 100%;
            }
        }
        .card {
            width: 100%;
        }
    }
}