<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container stores">
      <h3>門市據點</h3>
      <div class="select-box d-flex ai-c">
        <span>選擇地區</span>
        <div class="select-wrapper">
          <select name="stores" id="stores">
            <option value="taipei">台北市</option>
            <option value="taichung">台中市</option>
            <option value="kh">高雄市</option>
          </select>
        </div>
      </div>
      <div class="d-flex f-wrap jc-sb">
        <div class="card">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-1.png?raw=true" alt="store pic">
          <h4>台北中山旗艦店</h4>
          <div class="info-box">
            <div class="info d-flex ai-c mb-8">
              <span class="material-symbols-outlined">call</span>
              <p>電話：(02)000-1234</p>
            </div>
            <div class="info d-flex ai-c mb-8">
              <span class="material-symbols-outlined">schedule</span>
              <p>營業時間：10:00-21:00</p>
            </div>
            <div class="info d-flex ai-c">
              <span class="material-symbols-outlined">location_on</span>
              <p>地址：台北市中山區南京東路25巷2-1號</p>
            </div>
          </div>
          <a href="#">詳細資訊</a>
        </div>
        <div class="card">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-2.png?raw=true" alt="store pic">
          <h4>台北綠園店</h4>
          <div class="info-box">
            <div class="info d-flex ai-c mb-8">
              <span class="material-symbols-outlined">call</span>
              <p>電話：(02)000-2345</p>
            </div>
            <div class="info d-flex ai-c mb-8">
              <span class="material-symbols-outlined">schedule</span>
              <p>營業時間：10:00-21:00</p>
            </div>
            <div class="info d-flex ai-c">
              <span class="material-symbols-outlined">location_on</span>
              <p>地址：台北市中正區復興南路 132-1 號</p>
            </div>
          </div>
          <a href="#">詳細資訊</a>
        </div>
        <div class="card">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-3.png?raw=true" alt="store pic">
          <h4>台中清水旗艦店</h4>
          <div class="info-box">
            <div class="info d-flex ai-c mb-8">
              <span class="material-symbols-outlined">call</span>
              <p>電話：(02)000-1234</p>
            </div>
            <div class="info d-flex ai-c mb-8">
              <span class="material-symbols-outlined">schedule</span>
              <p>營業時間：10:00-21:00</p>
            </div>
            <div class="info d-flex ai-c">
              <span class="material-symbols-outlined">location_on</span>
              <p>地址：台中市清水區經南一路 23 號 8 樓</p>
            </div>
          </div>
          <a href="#">詳細資訊</a>
        </div>
        <div class="card">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-4.png?raw=true" alt="store pic">
          <h4>高雄中正形象店</h4>
          <div class="info-box">
            <div class="info d-flex ai-c mb-8">
              <span class="material-symbols-outlined">call</span>
              <p>電話：(07)000-2345</p>
            </div>
            <div class="info d-flex ai-c mb-8">
              <span class="material-symbols-outlined">schedule</span>
              <p>營業時間：10:00-21:00</p>
            </div>
            <div class="info d-flex ai-c">
              <span class="material-symbols-outlined">location_on</span>
              <p>地址：高雄市苓雅區中正路 38 號 12 樓</p>
            </div>
          </div>
          <a href="#">詳細資訊</a>
        </div>
        <div class="card">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-5.png?raw=true" alt="store pic">
          <h4>高雄夢時代店</h4>
          <div class="info-box">
            <div class="info d-flex ai-c mb-8">
              <span class="material-symbols-outlined">call</span>
              <p>電話：(07)000-1234</p>
            </div>
            <div class="info d-flex ai-c mb-8">
              <span class="material-symbols-outlined">schedule</span>
              <p>營業時間：10:00-21:00</p>
            </div>
            <div class="info d-flex ai-c">
              <span class="material-symbols-outlined">location_on</span>
              <p>地址：高雄市前鎮區中華一路 63 號 6 樓</p>
            </div>
          </div>
          <a href="#">詳細資訊</a>
        </div>
        <!-- 空卡片，排列用 -->
        <div class="card"></div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
